body {
    font-family: Arial, sans-serif;
    background-color: #EEE2DC;
}

h1 {
    color: #AC3B61;
}

h2 {
    color: #AC3B6180;
}

a {
    color: #123C69;
}

.gray-text {
    color: #BAB2B5;
}

.small-text {
    font-size: 10px;
    font-weight: bold;
}